;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
;; shadow-cljs would add it as middleware into built-in nREPL server 
;; More info see: https://shadow-cljs.github.io/docs/UsersGuide.html#nREPL
 [[cider/cider-nrepl "0.52.0"]
  [reagent/reagent "1.3.0"]
  [re-frame/re-frame "1.4.4-SNAPSHOT"]
  [day8.re-frame/http-fx "0.2.4"]]

 :nrepl {:port 9933} ;; nREPL port

 :dev-http {8080 "resources/public"} ;; dev http server for Browser target

 ;; Build configuration
 ;; More info see: https://shadow-cljs.github.io/docs/UsersGuide.html#_build_configuration
 :builds
 {;; Target: browser
  ;; More info see: https://shadow-cljs.github.io/docs/UsersGuide.html#target-browser
  :app {:target :browser
        :output-dir "resources/public/app/js"
        :asset-path "/app/js"
        :modules {:main {:init-fn lost.shadow-cljs-demo/init}}
        :build-hooks [(shadow.cljs.build-report/hook)]}}}
